@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
  color: #000;
}

.card {
  padding: 2em;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}


@keyframes text-shine {
   0% { background-position: 0% 50% }
   100% { background-position: 100% 50% }
 }
 .animate-text-shine {
   background-size: 200% auto;
   animation: text-shine 3s linear infinite;
 }